<div class="login-page login-bg">
  <div class="login-box">
    <div class="login-logo">Crumbs</div>

    <div class="login-box-body">
      <p class="login-box-msg">{{t "login.subTitle"}}</p>

      {{login/b-form model=model}}
    </div>
  </div>
</div>
