{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{#bs-form action="submit" model=model novalidate=true}}
  {{bs-form-element property="username" value=username placeholder=(t "biscuit.user.id.name") autofocus="autofocus"}}

  {{bs-form-element controlType="password" property="password" value=password placeholder=(t "biscuit.user.password.name")}}

  <div class="row">
    <div class="col-xs-8">
    </div>
    <!-- /.col -->
    <div class="col-xs-4">
    {{bs-button buttonType="submit" type="primary" size="lg" class="btn-block" defaultText=(t "button.login") loadingText=(t "loading.wait")}}
    </div>
  </div>
{{/bs-form}}
